.menu {
    background-color: cyan;
    padding: 20px;
    width: 600px;

    &__item {
        padding: 10px;
        font-size: 20px;
        color: white;
        margin: 30px;
        background-color: black;
    }
}